body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Cambiado a negro */
    color: #fff; /* Cambiado a blanco para mejorar la legibilidad del texto */
}

.container {
    display: flex;
    height: 100vh;
}

.left-sectionUsuario {
    font-size: 25px;
    flex: 1;
    background-color: #59A5D8; 
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.left-sectionUsuario label {
    font-size: 27px;
    margin-bottom: 10px;
    color: #fff; 
    align-items: flex-start;
}

.left-sectionUsuario input {
    padding: 10px 70px;
    font-size: 25px;
    margin-bottom: 15px;
    background-color: #84d2f6; /* Cambiado a negro */
    color: #000;
    border: 2px solid #59A5D8;
    border-radius: 10px;
}

.left-sectionUsuario button {
    width: 450px;
    padding: 15px 30px;
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
    background-color: #133C55; 
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.left-sectionUsuario button:hover {
    background-color: #84d2f6;
}

.left-sectionUsuario input:focus {
    outline: none;
    border: 2px solid #386fa4;
}

.right-sectionUsuario {
    flex: 3;
    background-color: #84d2f6; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    height: 90vh;
    width: 80%;
    border: 5px solid #133C55; 
    border-radius: 10px;
}
