body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    height: 100vh; /* 100% de la altura de la ventana */
}

.left-section {
    flex: 1; /* Ocupa el 50% del espacio disponible */
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-section {
    flex: 1; /* Ocupa el 50% del espacio disponible */
    background-color: #fff; /* Color de fondo de la sección derecha */
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
}

h1 {
    margin-bottom: 20px;
}

.buttons a {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    font-size: 18px;
}

/* Estilos opcionales para la imagen */
.right-section img {
    width: 100%; /* La imagen ocupa el 100% del ancho de la sección derecha */
 /* Se ajusta automáticamente la altura para mantener la proporción original */
}

/* Estilos opcionales para la imagen */
.right-section img {
    width: 100%; /* Modifica el ancho de la imagen según tus preferencias */
 /* Se ajusta automáticamente la altura para mantener la proporción original */
    margin-top: 0px; /* Ajusta la distancia desde la parte superior */
    margin-left: 0px; /* Ajusta la distancia desde la izquierda */
    border: 2px solid; /* Añade un borde con un color específico */

}

#map {
    height: 970px;
    width: 940px;
     /* Esto coloca el centro del mapa en el 50% del ancho de la pantalla */
 /* Esto ajusta el mapa hacia la izquierda en un 50% de su propio ancho */
    border: 2px solid; /* Añade un borde con un color específico */

}



